* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(IMAGENES/milad-fakurian-Oi_oaJk3qlo-unsplash.jpg)center; 
  background-size: cover;
}
  .container {
    width: 800px;
    height: 600px;
    border-radius: 1em;
    padding: 2em;
    display: flex;
    gap: 1em;

}

.row {
    border-radius: 1em; 
}
.row-1 {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.row-2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.row-3 {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.col {
    flex: 1;
    border-radius: 1em;
    display: flex;
    gap: 1em;
}
.col.col-2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.col-box {
    border: 2px solid #ffffff50 ;
    flex: 1;
    border-radius: 1em;
    gap: 1em;
}
.box {
    flex: 1;
    border: 2px solid #ffffff50 ;
    border-radius: 1em;
}
.col-box {
    background: rgba(255, 255, 255, 0.15);
    border: 2px solid #ffffff10;
    backdrop-filter: blur(50px);
    transition: 0.2s ease-in-out;
}
.box{
    background: rgba(255, 255, 255, 0.15);
    border: 2px solid #ffffff10;
    backdrop-filter: blur(50px);
    transition: 0.2s ease-in-out;
}
.col-box:hover {
    transform: scale(1.02);
    border: 2px solid #ffffff50 ;
}
.box:hover {
    transform: scale(1.02);
    border: 2px solid #ffffff50 ;
}
@media(max-width:1024px){
    .container {
        flex-direction: column;
    }
    .row-1 {
        flex-direction: row;
    }
    .row-2 {
        flex-direction: row;
    }
    .row-3 {
        flex-direction: row;
    }
    .col {
        flex: 2;
        flex-direction: column;
    }
}
@media(max-width:1024px){
    .container{
        max-width: 900px;
        max-height: 550px;
        gap: 1emS;
    }
    .row{
        gap: 0.5em;
    }
    .col{
        gap: 0.5em;  
    }
    
}
    
